In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
electricity_df = pd.read_csv(
    r'C:\Users\heman\OneDrive\Desktop\Analytics_arena\electricity_access_percent.csv',
    encoding='ISO-8859-1',
    skiprows=4
)

In [45]:
electricity_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
5,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN
6,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
7,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.363365,98.820000,99.216164,99.584412,99.837128,99.959244,99.995209,100.000000,NaN,NaN
8,Armenia,ARM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.519814,99.800000,99.767151,99.878876,99.954056,99.988976,100.000000,100.000000,NaN,NaN
9,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Check for null values in each year (from 1960 to 2017)
missing_values_per_year = electricity_df.loc[:, '1960':'2017'].isnull().sum()

# Print the missing values for each year
print(missing_values_per_year)

1960    264
1961    264
1962    264
1963    264
1964    264
1965    264
1966    264
1967    264
1968    264
1969    264
1970    264
1971    264
1972    264
1973    264
1974    264
1975    264
1976    264
1977    264
1978    264
1979    264
1980    264
1981    264
1982    264
1983    264
1984    264
1985    264
1986    264
1987    264
1988    264
1989    264
1990     13
1991     13
1992     13
1993     13
1994     12
1995      9
1996      8
1997      8
1998      8
1999      8
2000      7
2001      6
2002      5
2003      5
2004      4
2005      4
2006      4
2007      3
2008      3
2009      3
2010      3
2011      3
2012      3
2013      3
2014      3
2015      3
2016      3
2017    264
dtype: int64

##### if you look at the data null value there was no current supply during 1960 to some extent so it is better to remove upto that and we are using ffill for 2017 so it will be better

In [47]:
# Forward fill '2017' column based on the '2016' column
electricity_df['2017'].fillna(electricity_df['2016'], inplace=True)

# Print the result
print(electricity_df[['Country Name', 'Country Code', '2017']])

     Country Name Country Code        2017
0           Aruba          ABW   95.570145
1     Afghanistan          AFG   84.137138
2          Angola          AGO   40.520607
3         Albania          ALB  100.000000
4         Andorra          AND  100.000000
..            ...          ...         ...
259        Kosovo          XKX  100.000000
260   Yemen, Rep.          YEM   71.642349
261  South Africa          ZAF   84.200000
262        Zambia          ZMB   27.219337
263      Zimbabwe          ZWE   38.145138

[264 rows x 3 columns]

C:\Users\heman\AppData\Local\Temp\ipykernel_9032\2491027591.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  electricity_df['2017'].fillna(electricity_df['2016'], inplace=True)

In [48]:
# To remove a specific column (e.g., 'ColumnName')
electricity_df.drop('Unnamed: 62', axis=1, inplace=True)

# To verify if the column is removed
electricity_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,95.570145
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,84.137138
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,40.520607
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [49]:
electricity_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,95.570145
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,84.137138
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,40.520607
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [50]:
# Set a threshold to remove columns with more than 90% missing data
threshold = 0.9  # 90% missing values
columns_to_remove = electricity_df.loc[:, '1960':'2017'].isnull().mean() > threshold

# Drop columns that meet the condition
electricity_df.drop(columns=electricity_df.loc[:, '1960':'2017'].columns[columns_to_remove], inplace=True)

# Print updated dataframe
electricity_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,95.570145
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,84.137138
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,40.520607
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
5,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,74.384239,74.382220,74.313160,75.349325,75.788522,76.214138,...,85.432827,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,88.768654
6,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
7,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,90.640823,91.123672,91.606018,92.085304,92.558472,93.022461,...,97.934128,98.363365,98.820000,99.216164,99.584412,99.837128,99.959244,99.995209,100.000000,100.000000
8,Armenia,ARM,Access to electricity (% of population),EG.ELC.ACCS.ZS,97.680374,97.853592,98.023895,98.191345,98.352600,98.504654,...,99.415649,99.519814,99.800000,99.767151,99.878876,99.954056,99.988976,100.000000,100.000000,100.000000
9,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Select only numeric columns
numeric_columns = electricity_df.select_dtypes(include=['number']).columns

# Replace NaN values in numeric columns with the mean of each column
electricity_df[numeric_columns] = electricity_df[numeric_columns].fillna(electricity_df[numeric_columns].mean())

# Print updated dataframe to check
electricity_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,88.445351,88.780846,89.115829,89.447754,89.773560,90.090187,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,95.570145
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,84.137138
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,11.397808,12.579379,13.760440,14.938441,16.110325,17.273031,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,40.520607
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
5,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,74.384239,74.382220,74.313160,75.349325,75.788522,76.214138,...,85.432827,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,88.768654
6,United Arab Emirates,ARE,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
7,Argentina,ARG,Access to electricity (% of population),EG.ELC.ACCS.ZS,90.640823,91.123672,91.606018,92.085304,92.558472,93.022461,...,97.934128,98.363365,98.820000,99.216164,99.584412,99.837128,99.959244,99.995209,100.000000,100.000000
8,Armenia,ARM,Access to electricity (% of population),EG.ELC.ACCS.ZS,97.680374,97.853592,98.023895,98.191345,98.352600,98.504654,...,99.415649,99.519814,99.800000,99.767151,99.878876,99.954056,99.988976,100.000000,100.000000,100.000000
9,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,66.482942,66.985435,67.674832,68.217255,68.836069,69.785224,...,78.276041,78.831094,78.818472,79.916879,80.816723,81.315235,82.098619,82.767097,83.565600,83.565600

In [52]:
electricity_df.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1990              0
1991              0
1992              0
1993              0
1994              0
1995              0
1996              0
1997              0
1998              0
1999              0
2000              0
2001              0
2002              0
2003              0
2004              0
2005              0
2006              0
2007              0
2008              0
2009              0
2010              0
2011              0
2012              0
2013              0
2014              0
2015              0
2016              0
2017              0
dtype: int64

In [55]:
electricity_df.drop([ 'Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [56]:
# Convert wide format to long format
electricity1_df = pd.melt(
    electricity_df,
    id_vars=['Country Name', 'Country Code'],
    var_name='Year',
    value_name='Current_percentage'
)

# Convert 'Year' column to numeric (optional but helpful)
electricity1_df['Year'] = electricity1_df['Year'].astype(int)

# Preview the reshaped DataFrame
print(electricity1_df.head())

  Country Name Country Code  Year  Current_percentage
0        Aruba          ABW  1990           88.445351
1  Afghanistan          AFG  1990            0.010000
2       Angola          AGO  1990           11.397808
3      Albania          ALB  1990          100.000000
4      Andorra          AND  1990          100.000000

In [58]:
electricity1_df['Current_percentage'] = electricity1_df['Current_percentage'].round(3)

In [59]:
electricity1_df.to_csv('modified_electricity_1.csv', index=False)